[Desktop Entry]
Exec=propelleride
Icon=/usr/share/pixmaps/propelleride.xpm
Terminal=false
Type=Application
Categories=Development;IDE
StartupNotify=true
Name=PropellerIDE
GenericName=Cross-platform Spin editor
Comment=Easy-to-use, cross platform Propeller development tool
